@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var myURL = window.location.href;
            var myDir = myURL.substring(0, myURL.lastIndexOf("/") + 1);

            var table = $("#movies").DataTable({
                ajax: {
                    url: myDir + "api/movies",
                    dataSrc: "" // Specifying where data is nested in response.
                },
                columns: [
                    { data: "name" },
                    { data: "genre.name" }
                ]
            });
        });
    </script>
}
