
@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (!Model.Any())
{
    <text>We don't have any customers yet.</text>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Customer</strong></div>
        @foreach (var customer in Model)
        {
            <div class="panel-body">
                <a href="Customers/Details/@customer.Id"> @customer.Name </a>
            </div>
        }
    </div>
}